extends ../admin

block title
	| Админка - таб 3 (admin.psd)

block content
	.tabs__content-title
		| Страница "Мои работы"
	form.tabs__form
		.tabs__form-content
			.tabs__subtitle Добавить запись
			.tabs__form-add
				.tabs__form-row
					input.tabs__input(name="" type="text" placeholder="Название проекта")
				.tabs__form-row
					input.tabs__input(name="" type="text" placeholder="Технологии")
				.tabs__form-row
					label.file-input
						.file-input__fake
							.file-input__icon
								img(src="/img/icons/file-upload.png" alt="")
							.file-input__text Загрузить картинку
						input.tabs__input(name="" type="file")
		.tabs__form-submit-container
			input(name="" type="submit" value="Добавить").tabs__form-submit