extends ../admin

block title
	| Админка - таб 1 (admin.psd)

block content
		ul.tabs__content-list
			li.tabs__content-wrapper.active
				.tabs__content-title
					| Страница "Обо мне"
				form.tabs__form
					.tabs__form-content
						ul.admin-skills
							- for (var i = 0; i < 4; i++)
								li.admin-skills__item
									.admin-skills__title Frontend
									- var items = ['html', 'css', 'javascript'];
										table.admin-skills__table
											each item in items
												tr
													td
														.admin-skills__item-title= item
													td.admin-skills__second-row
														.admin-skills__amount
															input(name="" type="text" placeholder="").tabs__input.tabs__input_short
														.admin-skills__amount-char %
						.tabs__form-submit-container
							input(name="" type="submit" value="Сохранить").tabs__form-submit
			li.tabs__content-wrapper
				.tabs__content-title
					| Страница "Блог"
				form.tabs__form
					.tabs__form-content
						.tabs__subtitle Добавить запись
						.tabs__form-add
							.tabs__form-row
								input.tabs__input(name="" type="text" placeholder="Название")
							.tabs__form-row
								input.tabs__input(name="" type="text" placeholder="Дата")
							.tabs__form-row
								textarea.tabs__input.tabs__input_textarea
					.tabs__form-submit-container
						input(name="" type="submit" value="Добавить").tabs__form-submit
			li.tabs__content-wrapper
				.tabs__content-title
					| Страница "Мои работы"
				form.tabs__form
					.tabs__form-content
						.tabs__subtitle Добавить запись
						.tabs__form-add
							.tabs__form-row
								input.tabs__input(name="" type="text" placeholder="Название проекта")
							.tabs__form-row
								input.tabs__input(name="" type="text" placeholder="Технологии")
							.tabs__form-row
								label.file-input
									.file-input__fake
										.file-input__icon
											img(src="/img/icons/file-upload.png" alt="")
										.file-input__text Загрузить картинку
									input.tabs__input(name="" type="file")
					.tabs__form-submit-container
						input(name="" type="submit" value="Добавить").tabs__form-submit


