extends ../main

block title
	| Работы (works.psd)

block content
	section.section.works
		+section-triangles('works')
		.works__title
			+section-title('Мои работы', '/img/titles/work.png')
		.works__content
			.works__left
				.works-slider__content
					.works-slider__content-wrapper
						.works-slider__display
							img(src="" alt="").works-slider__display-pic
						.works-slider__item-about
							.works__subtitle
								.subtitle
							.works__content-desc
							.works__content-btn
								a(href="#").works__content-view
									| <i class="fa works__content-view-icon fa-link"></i> Посмотреть сайт
			.works__right
				.works-slider
					.works-slider__controls
						a(href="#").works-slider__control-btn.works-slider__control-btn_left
							ul.works-slider__control-list
								-
									var slides = {
										1 : {
											"full" : '/img/content/slider/1.png',
											"title" : 'Агентсво интернет решений "ITLoft"',
											"skills" : 'node',
											"link" : 'http://itloft.ru/'
										},

										2 : {
											"full" : '/img/content/slider/2.png',
											"title" : 'Школа онлай-образования "LoftSchool"',
											"skills" : 'html5, CSS3, javascript, php',
											"link" : 'http://loftschool.com/'

										},

										3 : {
											"full" : '/img/content/slider/3.png',
											"title" : 'Портал обучающих уроков "LoftBlog"',
											"skills" : 'Ruby on Rails, javascript, RESTful',
											"link" : 'http://loftblog.ru/'
										},

										4 : {
											"full" : '/img/content/slider/4.png',
											"title" : 'Сайт "Атма йога"',
											"skills" : 'UX, design, seo',
											"link" : 'http://atmayoga.ru/'
										}
									}
								each value, key in slides
									li.works-slider__control-item(
										data-full="#{slides[key]['full']}"
										data-title="#{slides[key]['title']}"
										data-skills="#{slides[key]['skills']}"
										data-link="#{slides[key]['link']}"
									)
										img(
											src="/img/content/slider/#{key}.png"
										).works-slider___control-img
						a(href="#").works-slider__control-btn.works-slider__control-btn_right
	section.reviews.section
		.reviews__container
			.reviews__title
				+section-title('Что обо мне говорят', '/img/titles/about.png')

				-
					var teachers = {
						"Дмитрий Ковальчук" : {
							"occ" : "основатель Loftschool",
							"photo" : "/img/content/dima.jpg",
							"text" : "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!"
						},

						"Зар Захаров" : {
							"occ" : "главный преподаватель",
							"photo" : "/img/content/zar.jpg",
							"text" : "Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!"
						}
					}
			ul.reviews__list
				each info, name in teachers
					li.reviews__item
						.reviews__item-inner
							.reviews__item-text
								p= info['text']
							.reviews__user
								.reviews__user-pic(style="background-image: url(#{info['photo']})")
								.reviews__user-name
									.reviews__name-title= name
									.reviews__name-occupation= info['occ']

			.reviews__form-container
				.reviews__form
					form.reviews__form-elem
						.reviews__form-inner
							.review__form-blur
							.reviews__form-content
								.reviews__form-title
									.subtitle Связаться со мной
								input(name="" type="text" placeholder="Имя").reviews__form-input
								input(name="" type="text" placeholder="E-mail").reviews__form-input
								textarea(placeholder="Ваше сообщение").reviews__form-input.reviews__form-input_textarea
						.reviews__form-btns
							input(name="" type="submit" value="Отправить").reviews__form-btn.reviews__form-btn_send
							input(name="" type="reset" value="Очистить").reviews__form-btn.reviews__form-btn_reset

