/* --------- adjustment --------- */

$container-width: 1250px;
$footer-height: 150px;
$body-font: 'robotoregular';

html {
	width:100%;
	font-size: 100.01%;
	height: 100%;

	@if $responsive == true {
		@include desktop {
			font-size: 16px;
		}

		@include laptop {
			font-size: 14px;
		}

		@include tablets {
			font-size: 12px;
		}

		@include phones {
			font-size: 12px;
		}
	}
}

body {
	font: 16px/1.42 $body-font;
    -webkit-font-smoothing: antialiased;
	width:100%;
	height:100% !important;
	background: #f4f4f4;
}

.container {
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
    width: if($responsive == true, 100%, $container-width);
	@include clearfix;

	@if $responsive == true {
		@include desktop {
			width: 970px;
		}

		@include laptop {
			width: 750px;
		}

		@include tablets {
			width: 480px;
		}

		@include phones {
			width: auto;
		}
	}
}

.wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    overflow: hidden;
	//min-width: if($responsive == true, 100%, $container-width + 30px);

	&:after {
		content: "";
		display: block;
		position: relative;
		height: $footer-height;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
		list-style: none outside none;
	}
}

p {
	padding: 0;
	margin: 0;
}

footer {
	position: relative;
	//min-width: if($responsive == true, 100%, $container-width + 30);
	height: $footer-height;
	margin-top: -$footer-height;
	//position: absolute;
	//bottom: 0;
	//left: 0;
	//right: 0;
}

* {
	box-sizing: border-box;
}