@font-face {
	font-family: 'robotolight';
	src: url('/fonts/roboto-light-webfont.eot');
	src: url('/fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/roboto-light-webfont.woff2') format('woff2'),
	url('/fonts/roboto-light-webfont.woff') format('woff'),
	url('/fonts/roboto-light-webfont.ttf') format('truetype'),
	url('/fonts/roboto-light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotomedium';
	src: url('/fonts/roboto-medium-webfont.eot');
	src: url('/fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/roboto-medium-webfont.woff2') format('woff2'),
	url('/fonts/roboto-medium-webfont.woff') format('woff'),
	url('/fonts/roboto-medium-webfont.ttf') format('truetype'),
	url('/fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotoregular';
	src: url('/fonts/roboto-regular-webfont.eot');
	src: url('/fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
	url('/fonts/roboto-regular-webfont.woff') format('woff'),
	url('/fonts/roboto-regular-webfont.ttf') format('truetype'),
	url('/fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bernier_distressedregular';
	src: url('/fonts/bernierdistressed-regular-webfont.eot');
	src: url('/fonts/bernierdistressed-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/bernierdistressed-regular-webfont.woff2') format('woff2'),
	url('/fonts/bernierdistressed-regular-webfont.woff') format('woff'),
	url('/fonts/bernierdistressed-regular-webfont.ttf') format('truetype'),
	url('/fonts/bernierdistressed-regular-webfont.svg#bernier_distressedregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bernier_regularregular';
	src: url('/fonts/bernierregular-regular-webfont.eot');
	src: url('/fonts/bernierregular-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/bernierregular-regular-webfont.woff2') format('woff2'),
	url('/fonts/bernierregular-regular-webfont.woff') format('woff'),
	url('/fonts/bernierregular-regular-webfont.ttf') format('truetype'),
	url('/fonts/bernierregular-regular-webfont.svg#bernier_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'bernier_shaderegular';
	src: url('/fonts/berniershade-regular-webfont.eot');
	src: url('/fonts/berniershade-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/berniershade-regular-webfont.woff2') format('woff2'),
	url('/fonts/berniershade-regular-webfont.woff') format('woff'),
	url('/fonts/berniershade-regular-webfont.ttf') format('truetype'),
	url('/fonts/berniershade-regular-webfont.svg#bernier_shaderegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin roboto($style : regular) {
	@if $style == regular {
		font-family: 'robotoregular';
	}

	@if $style == light {
		font-family: 'robotolight';
	}

	@if $style == medium {
		font-family: 'robotomedium';
	}
}

@mixin bern($style : regular) {
	@if $style == regular {
		font-family: 'bernier_regularregular';
	}

	@if $style == dist {
		font-family: 'bernier_distressedregular';
	}

	@if $style == shader {
		font-family: 'bernier_shaderegular';
	}
}