include _common/_mixins

doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
        title
            block title

        meta(name='viewport' content='width=device-width')

        // build:css ../css/plugins.admin.min.css
        // endbuild
        link(rel='stylesheet' href="/_dev/bower/fancybox/source/jquery.fancybox.css")
        link(rel='stylesheet' type='text/css' href='/css/main.css' media='screen, projection, print')

    body
        <!--[if lt IE 8]>
        <p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
        <![endif]-->

        .wrapper.wrapper_admin
            section.admin
                .admin__header
                    .admin__header-left
                        .admin__header-title Панель администрирования
                    .admin__header-right
                        a(href="#").admin__header-link Вернуться на сайт
                .tabs
                    .tabs__controls
                        - var items = ['Tab 1', 'Tab 2', 'Tab 3']
                        ul.tabs__list
                            each item in items
                                li.tabs__item(class="#{ item == 'Tab 1' ? 'active' : '' }")
                                    a(href="#").tabs__link= item
                    .tabs__content
                        block content

        .popup#popup
            .popup__inner
                h1 Спешл фо Игорь

        // build:js ../js/plugins.admin.min.js
        include _common/_common-scripts

        // endbuild

        script(src="/_dev/bower/fancybox/source/jquery.fancybox.js")

        script(src='/js/popups.js')
        script(src='/js/main.min.js')


