include _common/_mixins

doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
        title
            block title

        meta(name='viewport' content='width=device-width')

        // build:css ../css/plugins.auth.min.css
        link(rel="stylesheet" href="../../bower/jpreloader/css/jpreloader.css")
        // endbuild

        link(rel='stylesheet' type='text/css' href='/css/main.css' media='screen, projection, print')

    body
        <!--[if lt IE 8]>
        <p class="chromeframe">Похоже, что ты используешь устаревший браузер, друг. Пожалуйста, <a href="http://browsehappy.com/">скачай новый браузер абсолютно бесплатно</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируй Google Chrome Frame</a></p>
        <![endif]-->

        .wrapper

            a(href="#").autherize-link
                | Авторизоваться

            block content

            - var footerModifer = 'footer_auth';
            //include _common/_footer

            include _common/_loader

        // build:js ../js/plugins.auth.min.js
        include _common/_common-scripts

        script(src="../../bower/parallax/deploy/jquery.parallax.min.js")
        script(src="../../bower/jpreloader/js/jpreloader.js")

        // endbuild
            
        script(src='/js/main.min.js')
