.about {
	@include clearfix;
	position: relative;
}

.about__left, .about__right {
	float: left;
	width: 50%;
	position: relative;

	&:after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		height: rem(1500px);
		top: 100%;
		z-index: -1;
	}

	@include tablets {
		float: none;
		width: 100%;
		padding: 0 rem(100px);

		&:after {
			display: none;
		}
	}

	@include phones {
		padding: 0;
	}
}

.about__triangles {
	position: absolute;
	top: -10rem;
	left: 0;
	right: 0;
}

.about-triangle__left {
	top: 0;
	bottom: 0;
	left: 0;
	width: 50%;

	svg {
		fill: #efeee9;
	}
}

.about-triangle__right {
	right: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	left: auto;

	svg {
		fill: #eeebdf;
	}

	@include tablets {
		svg {
			fill: #efeee9;
		}
	}
}


.about__left {
	background: #efeee9;

	&:after {
		background: #efeee9;
	}
}

.about__right {
	background: #eeebdf;

	&:after {
		background: #eeebdf;
	}
}
.about__col-inner {
	padding: rem(25px);
	@include clearfix;

	@include tablets {
		padding: rem(25px);
	}
}

.about__title {
	float: left;
	width: 50%;
	text-align: center;
}

.about__content {
	float: left;
	width: 50%;
}

.about__title, .about__content {
	@include tablets {
		float: none;
		width: 100%;
	}
}

.about__user-pic {
	margin-bottom: rem(40px);
	text-align: center;
}

.about__user-img {
	max-width: 100%;
	max-height: rem(400px);
	@include inlineblock();
}

.about__content-title {
	text-align: center;
}

.subtitle {
	margin-bottom: rem(40px);
}

.about__me-title {
	text-align: center;
}

/* --------- skills --------- */

.skills {
	opacity: 0;
}

.skills__title {
	font-size: rem(28px);
	margin-bottom: rem(15px);
	color: #455a64;
	@include roboto(medium);

	@include tablets {
		text-align: center;
	}
}

.skills__list {
	margin-left: rem(-40px);

	@include tablets {
		text-align: center;
	}
}

.skills__item {
	@include inlineblock();
	margin-left: rem(30px);
	margin-bottom: rem(30px);
}

.skills__circles {
	position: relative;
	width: 100px;
	height: 100px;
	opacity: 0;
}

.skills__circles-elem {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;

}

.skills__circles-under, .skills__circles-above {
	stroke-width: 15px;
	stroke: #dfdcd5;
	fill: transparent;
	@include transition(1s);
}

.skills__circles-above {
	stroke: #16c2aa;
	stroke-dasharray: 252;
	stroke-dashoffset: 252;
}

.skills__circles-text {
	width: 64px;
	height: 64px;
	position: absolute;
	top: 18px;
	left: 18px;
}

.skills__circles-title {
	width: 64px;
	height: 64px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: $green;
	font-size: 10px;
}