$footer-tablets-height: 180px;
$footer-phones-height : 190px;

.wrapper {
	@include tablets {
		&:after {
			height: $footer-tablets-height;
		}
	}

	@include phones {
		&:after {
			height: $footer-phones-height;
		}
	}
}

.footer {
	background: #2f4449;

	@include tablets {
		height: $footer-tablets-height;
		margin-top: -$footer-tablets-height;
	}

	@include tablets {
		height: $footer-phones-height;
		margin-top: -$footer-phones-height;
	}
}

.footer__top {
	border-bottom: 1px solid rgba(#fff, .1);
}

.footer__nav {
	@include grid-span(6, 1);
	padding: rem(24px) 0;

	@include tablets {
		@include grid-span(12, 1);
		text-align: center;
		padding-bottom: 0;
		padding-top: rem(15px);
	}
}

.footer__nav-item {
	@include inlineblock(middle);
	margin-left: rem(30px);

	&:first-child {
		margin-left: 0;
	}

	@include phones {
		margin-left: rem(20px);
	}
}

.footer__socials-item {
	@include inlineblock();
	margin-left: rem(10px);

	&:first-child {
		margin-left: 0px;
	}
}

.footer__bottom {
	font-size: 0px;
	padding: rem(15px) 0;
}

.footer__copyright-col_right {
	text-align: right;
}

.footer__copyright-col {
	color: rgba(#fff, .5);
	font-size: rem(12px);
	@include inlineblock(middle);
	width: 45%;

	&:last-child {
		margin-left: 10%;
	}

	@include tablets {
		display: block;
		@include grid-span(12, 1);
		text-align: center;

		&:first-child {
			margin-bottom: rem(10px);
		}
	}
}

.footer__socials {
	padding: rem(15px) 0;
	text-align: right;
	@include grid-span(7, 6);

	@include tablets {
		@include grid-span(12, 1);
		text-align: center;
	}
}

.footer__socials-icon {
	display: block;

	svg {
		* {
			@include transition(.3s);
		}
	}

	&:hover {
		svg {
			circle {
				fill : #fff;
			}

			g {
				path {
					fill : #2f4449 !important;
				}
			}
		}
	}
}

.footer__nav-item {
	@include inlineblock(middle);
}

.footer__nav-link {
	font-size: rem(16px);
	color: #fff;
	text-decoration: none;
	@include roboto(medium);

	&:hover {
		text-decoration: underline;
	}
}



/* --------- footer auth --------- */

.footer_auth {
	background: transparent;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	//@include phones {
	//	height: rem(60px);
	//	padding-top: 0;
	//}
}



