.mountains {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('/img/bg/parallax/1.jpg') 0 0 no-repeat;
	background-position: center center;
	background-size: cover;
	top: -2%;

	@at-root {
		body.mobile {
			.mountains {
				background: url('/img/bg/hero.jpg') center center no-repeat;
				background-size: cover;
			}
		}
	}
}

.mauntains__parallax {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	min-width: 1000px;
}

.mountains__layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.mountains__layer-pic {
	position: absolute;
	left: -5%;
	right: 0;
	bottom: -20%;
	display: block;
	width: 115%;
}

