.works {
	position: relative;

	.subtitle {
		max-width: 21rem;
	}
}

.works__title {
	text-align: center;
	padding: rem(55px) 0;
	background: #faf8f0;
}

.works__subtitle {
	.subtitle {
		@include phones {
			margin-bottom: 1.5rem;
		}
	}
}

.works-triangle__left, .works-triangle__right {
	width: 50%;

	svg {
		fill: #faf8f0;
	}
}

.works-triangle__left {
	left: 0;
}

.works-triangle__right {
	right: 0;
	left: auto;
}

.works__left, .works__right {
	float: left;
	width: 50%;
	height: 100vh;
	min-height: 650px;

	@include tablets {
		float: none;
		width: 100%;
		height: auto;
		min-height: 0;
	}
}

.works__left {
	background: #f0efe9;
	position: relative;
}


.works-slider__content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;

	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		width: 0;

		@include tablets {
			display: none;
		}
	}

	@include tablets {
		position: static;
	}
}

.works-slider__item-about {
	@include tablets {
		padding: 0 rem(100px);
	}

	@include phones {
		padding: 0 rem(30px);
	}
}

.works-slider__content-wrapper {
	display: inline-block;
	vertical-align: middle;
	width: 90%;

	@include tablets {
		padding-bottom: rem(60px);
		max-width: 100%;
		width: 100%;
	}

	@include phones {
		padding-bottom: rem(30px);
	}
}


.works-slider__content-inner {
	display: inline-block;
	vertical-align: middle;
}

.works__content {
	@include clearfix;
}

.works__content-desc {
	padding: rem(20px) 0;
	border: 1px solid transparent;
	border-top-color: #acd6ce;
	border-bottom-color: #acd6ce;
	@include roboto(medium);
	text-transform: uppercase;
	font-size: rem(16px);
	color: #acd6ce;
	margin-bottom: rem(40px);

	@include phones {
		margin-bottom: 1rem;
		padding: .7rem 0;
	}
}

.works__content-view {
	@include inlineblock();
	padding: rem(15px) rem(20px);
	background: #00bfa5;
	color: #fff;
	@include roboto(medium);
	font-size: rem(16px);
	text-decoration: none;
	@include border-radius(5px);
}

.works__content-view-icon {
	margin-right: rem(10px);
}

.works__right {
	background: #efebe0;
}

.works-slider {
	width: 100%;
	height: 100%;
	position: relative;
}

.works-slider__display {
	width: 100%;
	position: absolute;
	left: 100%;
	top: 0;
	bottom: 30%;

	@include tablets {
		position: static;
		background: #eeebe0;
		padding: rem(40px) 0;
		margin-bottom: rem(40px);
	}

	@include phones {
		padding: 2.25rem 0;
	}
}

.works-slider__display-list {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.works-slider__display-item {
	height: 100%;
	width: 100%;
	text-align: center;

	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 0;
		height: 100%;
	}
}

.works-slider__display-pic {
	max-width: 70%;
	max-height: 70%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	@include tablets {
		position: static;
	}
}

.works-slider__controls {
	height: 30%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	@include tablets {
		position: static;
	}
}

.works-slider__control-btn {
	display: block;
	text-decoration: none;
	width: 50%;
	float: left;
	position: relative;
	height: 100%;
	overflow: hidden;
	outline: none !important;

	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #c5c5c5 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#c5c5c5 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #ffffff 0%,#c5c5c5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c5c5c5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		background-color: rgba(#b6b4ae, .7);
		background-position: center center;
		background-repeat: no-repeat;
		z-index: 1;
	}

	&:after {
		content: "";
		display: block;
		width: 45px;
		height: 30px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: 2;
		@include transition(transform .3s);
	}

	@include tablets {
		height: rem(220px);
	}

	@include phones {
		height: rem(180px);
	}
}

.works-slider__control-btn_left {
	&:after {
		background-image: url('/img/icons/tr-bottom.png');
	}

	&:hover {
		&:after {
			animation: slideInDown .3s;
			-webkit-animation: slideInDown .3s;
			animation-fill-mode: forwards;
		}
	}
}

.works-slider__control-btn_right {
	&:after {
		background-image: url('/img/icons/tr-top.png');
	}

	&:hover {
		&:after {
			animation: slideInUp .3s;
			-webkit-animation: slideInUp .3s;
			animation-fill-mode: forwards;
		}
	}
}

.works-slider__control-list {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.works-slider__control-btn_left {
	.works-slider__control-item {
		position: absolute;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		bottom: 0%;

		&.active {
			top: 0;
		}
	}
}

.works-slider__control-btn_right {
	.works-slider__control-item {
		position: absolute;
		bottom: 0%;
		left: 0;
		width: 100%;
		height: 100%;
		top: 100%;

		&.active {
			top: 0;
		}
	}
}

.works-slider___control-img {
	display: block;
	max-width: 70%;
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

/* --------- animations --------- */

.letter-span {
	opacity: 0;
	display: inline-block;

	&.active {
		opacity: 1;
		animation: bounceIn 1s;
		-webkit-animation: bounceIn 1s;
	}
}

.letter-word {
	white-space: nowrap;
	display: inline-block;
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@-webkit-keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}

	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes bounceIn {
	from, 20%, 40%, 60%, 80%, to {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		transform: scale3d(.9, .9, .9);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		transform: scale3d(.97, .97, .97);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@-webkit-keyframes bounceIn {
	from, 20%, 40%, 60%, 80%, to {
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		transform: scale3d(.9, .9, .9);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		transform: scale3d(.97, .97, .97);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes slideInUp {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(0, -100%, 0);
	}
}

@keyframes slideInDown {
	from {
		transform: translate3d(0, 0%, 0);
	}

	to {
		transform: translate3d(0, 100%, 0);
	}
}

